<!-- Footer -->
<div class="container">
    <div class="copyright">
        <p>All Rights Reserved. CopyRights <a href="https://codesource.us">Cristian Marian</a> &copy; 2018.</p>
    </div>
</div>
<!-- end Footer -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="{{ url }}/resources/blog/js/bootstrap.min.js"></script>
</body>
</html>